$carousel-ratio: 16 / 9;

.sliderWrapper {
  position: relative;
  display: flex;

  width: 80%; /* Movie Tip: 調整輪播圖寬度*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: $carousel-ratio;
}

$side-frame-left: 10%;
$side-frame-top: 8%;

.sideFrame {
  position: absolute;
  width: 6%;
  pointer-events: none;

  &[data-index='0'] {
    top: $side-frame-top;
    left: $side-frame-left;
  }

  &[data-index='1'] {
    top: $side-frame-top;
    right: $side-frame-left;
    transform: rotate(90deg);
  }

  &[data-index='2'] {
    right: $side-frame-left;
    bottom: $side-frame-top;
    transform: rotate(180deg);
  }

  &[data-index='3'] {
    bottom: $side-frame-top;
    left: $side-frame-left;
    transform: rotate(270deg);
  }
}

.movieTitle {
  position: absolute;
  top: -5%;
  width: 30%;
  aspect-ratio: 5 / 1;

  background-image: url(../../public/movie/movie_title.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

$carousel-frame-w: 75%;

$dot-size: 18px;
$dot-filter-size: calc($dot-size / 3);
$dot-filter-bg-size: calc($dot-size / 2);

$arrow-translate: 9%;

.movieSlider {
  width: $carousel-frame-w;

  :global(.slick-arrow) {
    z-index: 2;

    &:before {
      display: none;
    }
  }

  :global(.slick-prev) {
    left: calc($arrow-translate * -1);
  }
  :global(.slick-next) {
    right: calc($arrow-translate * -1);
  }

  :global(.slick-dots) {
    bottom: -15%;
    display: flex !important;
    justify-content: center;

    li {
      width: fit-content;
      height: fit-content;
    }

    .dot {
      position: relative;
      display: inline-block;

      width: $dot-size;
      height: $dot-size;
      margin: auto 3px;
      border-radius: 50%;

      background-color: #fff;

      &::before,
      &::after {
        content: '';

        position: absolute;
        top: calc(50% - calc($dot-filter-size / 2));
        left: calc(50% - calc($dot-filter-size / 2));

        display: block;
        width: $dot-filter-size;
        height: $dot-filter-size;
        box-shadow: 0 0 $dot-size $dot-filter-bg-size #fff;

        border-radius: 50%;
        background-color: #fff;
      }
    }
  }

  .item {
    &.playing {
      .cover {
        display: none;
      }
    }

    h3 {
      position: relative;
      display: flex;

      width: 100%;
      justify-content: center;
      align-items: center;
      aspect-ratio: $carousel-ratio;

      video {
        width: 100%;
        height: 100%;
        aspect-ratio: $carousel-ratio;
        border: none;
      }

      .cover {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        img {
          width: 100%;
          max-width: 100%;
          height: 100%;
          max-height: 100%;
          object-fit: cover;
        }

        div {
          position: absolute;
          top: 50%;
          left: 50%;
          display: inline-flex;

          width: 50%;

          border-radius: 50%;
          transform: translate(-50%, -50%);
          justify-content: center;
          align-items: center;
          aspect-ratio: 1/1;

          background-image: url(../../public/movie/movie_play_button.png);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }
    }
  }
}

.arrow {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 160px;
  height: 100px;

  background-image: url(../../public/carousel/arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &.right {
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  &.left {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
