.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 85vw;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}
