$carousel-max-height: 450px;
$carousel-ratio: 16 / 9;

@mixin disable-scrollbar() {
  &::-webkit-scrollbar {
    display: none;
  }
  &::-moz-scrollbar {
    display: none;
  }
  &::-o-scrollbar {
    display: none;
  }
  &::-ms-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none; /* firefox*/
}

.caption {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: $carousel-max-height;
  max-height: 100%;

  font-size: 32px;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  transform: translateY(70%);
  cursor: pointer;
  aspect-ratio: $carousel-ratio;

  transition: transform 0.3s ease-in-out;

  &.active {
    border-radius: 0;
    transform: translateY(0%);

    .captionHeaderSubtitle {
      padding-bottom: 16px;
      white-space: normal;
      text-overflow: visible;
    }

    .captionBodyScroll {
      @include disable-scrollbar();
      height: 100%;
      padding-bottom: 32px;
      margin-top: 20px;
      opacity: 1;
      overflow-y: auto;
    }

    .captionHeader {
      display: none;
    }

    .closeIcon {
      visibility: visible;
      opacity: 1;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 30%,
    rgba(0, 0, 0, 0) 30%
  );

  &.active {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  }

  &.animation {
    animation: fadeIn 0.8s ease-in-out;
  }
}

.captionToggleBar {
  position: absolute;
  top: 10px;
  left: 50%;
  display: inline-block;
  width: 60px;
  height: 5px;
  border-radius: 15px;
  transform: translateX(-50%);

  background-color: white;
}

.captionHeader {
  position: relative;
  padding-top: 32px;
  transition: opacity 0.3s ease-in-out;
}

.captionHeaderSubtitle {
  overflow: hidden;
  max-width: 60%;
  margin: 0 auto;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.captionBody {
  position: relative;

  overflow: hidden;
  max-width: 65%;
  height: calc($carousel-max-height * 1);

  margin: 0 auto;

  font-size: 32px;
  text-align: left;
  text-align: justify;
  text-justify: newspaper;
  transition: opacity 0.3s ease-in-out;
}

.captionBodyTitle {
  padding-top: 32px;
  margin-bottom: 48px;
  font-size: 42px;
  text-align: center;
}

.captionBodyScroll {
  padding-bottom: 16px;
  opacity: 0;
  animation-duration: 20s;

  &.paused {
    animation-play-state: paused;
  }
}

.closeIcon {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
