$carousel-max-height: 630px;
$carousel-ratio: 16 / 9;

.caption {
  max-width: 100%;
  max-height: 100%;
  height: $carousel-max-height;
  aspect-ratio: $carousel-ratio;

  position: absolute;
  bottom: 0;
  transform: translateY(70%);

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 30%,
    rgba(0, 0, 0, 0) 30%
  );
  border-radius: 6px;

  font-size: 42px;
  text-align: center;
  color: #ffffff;

  transition: transform 0.3s ease-in-out;

  &.active {
    border-radius: 0;
    transform: translateY(0%);

    .captionHeaderSubtitle {
      padding-bottom: 16px;
      white-space: normal;
      text-overflow: visible;
    }

    .captionBodyScroll {
      max-height: $carousel-max-height;
      opacity: 1;
      overflow-y: auto;

      // animation-name: scrollUpWithPause;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    .captionHeader {
      display: none;
    }

    .closeIcon {
      visibility: visible;
      opacity: 1;
    }
  }

  &.fullBackground {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  }
}

.captionToggleBar {
  display: inline-block;
  width: 60px;
  height: 5px;

  background-color: white;
  border-radius: 15px;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.captionHeader {
  padding-top: 32px;
  transition: opacity 0.3s ease-in-out;
}

.captionHeaderSubtitle {
  max-width: 60%;
  margin: 0 auto;

  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;
}

.captionBody {
  max-width: 65%;
  height: calc($carousel-max-height * 1);

  margin: 0 auto;

  font-size: 32px;
  text-align: left;
  text-justify: newspaper;
  text-align: justify;

  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.captionBodyTitle {
  font-size: 42px;
  text-align: center;
  margin-bottom: 48px;
  padding-top: 32px;
}

.captionBodyScroll {
  padding-bottom: 16px;
  opacity: 0;
  animation-duration: calc(20s * var(--scroll-percentage));

  &.paused {
    animation-play-state: paused;
  }
}

.closeIcon {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

@keyframes scrollUpWithPause {
  0% {
    transform: translateY($carousel-max-height);
  }

  100% {
    transform: translateY(calc($carousel-max-height * var(--scroll-percentage) * -1));
  }
}
