$carousel-max-height: 450px;
$carousel-ratio: 16 / 9;

$caption-font: 2.375rem;
$caption-bar-height: 5px;

@mixin disable-scrollbar() {
  &::-webkit-scrollbar {
    display: none;
  }
  &::-moz-scrollbar {
    display: none;
  }
  &::-o-scrollbar {
    display: none;
  }
  &::-ms-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none; /* firefox*/
}

.caption {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: $carousel-max-height;
  max-height: 100%;

  font-size: 32px;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  transform: translateY(70%);
  cursor: grab;
  aspect-ratio: $carousel-ratio;

  transition: transform 0.3s ease-in-out;

  &.active {
    border-radius: 0;
    transform: translateY(0%);

    .captionBodyScroll {
      @include disable-scrollbar();
      height: 100%;
      padding-bottom: 32px;
      margin-top: 20px;
      opacity: 1;
      overflow-y: auto;
    }

    .captionHeader {
      display: none;
    }

    .closeIcon {
      visibility: visible;
      opacity: 1;
    }
  }

  &.hidden {
    transform: translateY(calc(98% - $caption-bar-height));
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 30%,
    rgba(0, 0, 0, 0) 30%
  );

  &.active {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  }

  &.hidden {
    transform: translateY(calc(98% - $caption-bar-height));
  }

  &.hidden,
  &.animation {
    animation: fadeIn 0.8s ease-in-out;
  }
}

.captionToggleBar {
  position: absolute;
  top: 10px;
  left: 50%;
  display: inline-block;
  z-index: 2;
  width: 60px;
  height: $caption-bar-height;
  border-radius: 15px;
  transform: translateX(-50%);

  background-color: white;
  cursor: grab;

  &::after {
    content: '';
    position: absolute;
    top: 0%;
    width: calc($carousel-max-height / 3);
    height: calc($carousel-max-height / 3);
    transform: translate(0%, -35%);
    pointer-events: none;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/photo/touch_icon.png);

    animation:
      blink 5s linear forwards,
      fadeOut 1s linear 5s forwards;
  }
}

@keyframes blink {
  30%,
  50%,
  70%,
  90% {
    opacity: 0;
  }

  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.captionHeader {
  position: relative;
  padding-top: 32px;
  transition: opacity 0.3s ease-in-out;
}

.captionHeaderSubtitle {
  overflow: hidden;
  max-width: 60%;
  margin: 0 auto;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.captionBody {
  position: relative;

  overflow: hidden;
  max-width: 65%;
  height: calc($carousel-max-height * 1);

  margin: 0 auto;

  font-size: 32px;
  text-align: left;
  text-align: justify;
  transition: opacity 0.3s ease-in-out;
}

.captionBodyTitle {
  padding-top: 32px;
  margin-bottom: 48px;
  font-size: 42px;
  text-align: center;
}

.captionBodyScroll {
  padding-bottom: 16px;
  opacity: 0;
  animation-duration: 20s;

  &.paused {
    animation-play-state: paused;
  }
}

.closeIcon {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
